*~
.*~
\#*\#
.\#*\#
.DS_Store
.project
.settings
.actionScriptProperties
.flexProperties
*.achacks.*
swfbridge.log

test/FluintLuaTests/bin-*
test/FluintLuaTests/build
test/FluintLuaTests/libs/lua_wrapper.swc
test/FluintLuaTests/src/luaAlchemy

alchemy/glue.*
alchemy/bin
alchemy/lua_wrapper.as
alchemy/lua_wrapper.swc

lua/src/*.o
lua/src/liblua.a
lua/src/lua
lua/src/lua.l.bc
lua/src/luac